$backgroundGray: #7f7f7f;
$primaryColor: #e5ceae;
$backgroundColor: #ebd5b5;
$fontGrayColor: #323232;
$decorationColor: #30306d;
$labelColor: #929292;
$inputBorderGray: #b9b9b9;
$cubic: cubic-bezier(.17,.67,.42, 1.4);
$lightGray: #adadad;